body{
  background-color: #FDF4F5;
  background-image: url('../imgs/backgroundflowers.png');
  padding-bottom: 70px;
}

h1 {
  font-family: Georgia;
  color: #00a8c9;
}

hr{
  background-color: #00a8c9;
  justify-content: left;
}

.toolContain{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  
}

/* Test */
p{
    color: #00a8c9;
    font-size: xx-large;
}

td, tr, th{
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  border-collapse: collapse;
}

/* Table css for home */
table{
  background-color: #C0DBEA;
  margin: auto;
  overflow-x: auto;
  width: 90%;
}

td{
  padding: 15px;
}

th{
  background-color: white;
  border-color: white;
  color: #00a8c9;
  font-size: larger;
}

tr{
  border: none;
}

tr:nth-child(even){
  background-color: #E7F6FF;
}


/* Buttons */

.add-button{
  background-color: #C0DBEA;
  margin-top: 40px;
  border-color: white;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.edit-button{
  border: none; /* Remove the border */
  background-color: transparent;
  color: #728A2C;
  font-size: 15px;
}

.delete-button{
  text-decoration: none;
  color: #8A2C7B;
  font-size: 15px;
}

.save-button{
  background-color: #C0DBEA;
  border-color: white;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}


/* General Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

.modal-content {
  background-color: #FDF4F5;
  background-image: url('../imgs/backgroundflowers.png');
  margin: auto; /* Center both horizontally and vertically */
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
}

.inputField{
  width: 80%;
  height: 40px;
  padding-left: 10px;
  border-radius: 10px;
  margin: 10px;
}

.textField{
  width: 80%;
  height: 80px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}