<div id="myModal" class="modal">
    <div class="modal-content">
      <p>Add Flowers</p>
      <hr>
      
      <form id="flowerForm" action="{% url 'add_flower' %}" method="post">
        {% csrf_token %}
        <div class="label-input">
          <input class="inputField" id="id_flower_name" name="flower_name" placeholder="Flower Common Name">
        </div>
        <div class="label-input">
            <input class="inputField" id="id_scientific_name" name="scientific_name" placeholder="Scientific Name"></input>
        </div>
        <div class="label-input">
            <input class="inputField" id="id_season" name="season" placeholder="Season"></input>
        </div>
        <div class="label-input">
            <input class="inputField" id="id_habitat" name="habitat" placeholder="Habitat"></input>
        </div>
        <div class="label-input">
            <textarea class="inputField" id="id_description" name="description" placeholder="Description"></textarea>
        </div>
        <button class="save-button" type="submit">Save</button>
  </form>
      </form>
    </div>
  </div>