<div id="myModal" class="modal">
    <div class="modal-content">
      <h3>Add Flowers</h3>
      
      <form id="flowerForm" action="{% url 'add_flower' %}" method="post">
        {% csrf_token %}
        <div class="label-input">
          <label for="id_flower_name">Flower Name:</label>
          <input id="id_flower_name" name="flower_name">
        </div>
        <div class="label-input">
            <label for="id_scientific_name">Scientific Name:</label>
            <input id="id_scientific_name" name="scientific_name"></input>
        </div>
        <div class="label-input">
            <label for="id_season">Season:</label>
            <input id="id_season" name="season"></input>
        </div>
        <div class="label-input">
            <label for="id_habitat">Habitat:</label>
            <input id="id_habitat" name="habitat"></input>
        </div>
        <div class="label-input">
            <label for="id_description">Description:</label>
            <textarea id="id_description" name="description"></textarea>
        </div>
        <button type="submit">Save</button>
  </form>
      </form>
    </div>
  </div>