{% for flower in flowers %}
    <div id="editModal{{ flower.id }}" class="modal editModal">
        <div class="modal-content">
            <p>Edit Flower</p>
            <hr>
            <form id="editFlowerForm" data-flower-id="{{ flower.id }}" method="post" action="{% url 'edit_flower' flower.id %}">
                {% csrf_token %}
                <!-- Add input fields for editing flower data, similar to the addflower.html form -->
                <div>
                    <label for="editFlowerName">Flower Name</label>
                    <input class="inputField" type="text" id="editFlowerName" name="flower_name" placeholder="Flower common name" value="{{ flower.flower_name }}">
                </div>
                <div>
                    <label for="editScientificName">Scientific Name</label>
                    <input class="inputField" type="text" id="editScientificName" name="scientific_name" placeholder="Flower common name" value="{{ flower.scientific_name}}">
                </div>
                <div>
                    <label for="editSeason">Season</label>
                    <br>
                    <input class="inputField" type="text" id="editSeason" name="season" placeholder="Season" value="{{ flower.season }}">
                </div>
                <div>
                    <label for="editHabitat">Habitat</label>
                    <br>
                    <input class="inputField" type="text" id="editHabitat" name="habitat" placeholder="Habitat" value="{{ flower.habitat}}">
                </div>
                <div>
                    <label for="editDescription">Description</label>
                    <textarea class="textField" type="text" id="editDescription" name="description" placeholder="Description"> {{ flower.description }} </textarea>
                </div>
                <!-- Add other fields for scientific name, season, habitat, and description -->
                <div>
                    <button class="save-button" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endfor %}