{% extends "master.html" %}

{% block title %}
  Garden Records
{% endblock %}

{% block content %}
  {% load static %}
  <div>
    <button id="btnAdd">Add Flower</button>
    <p>Table</p>
    <table>
      <tr>
        <th>Flower Name</th>
        <th>Scientific Name</th>
        <th>Season</th>
        <th>Habitat</th>
        <th>Edit/Delete</th>
      </tr>
      {% for flower in flowers %}
      <tr>
        <td>{{ flower.flower_name }}</td>
        <td>{{ flower.scientific_name }}</td>
        <td>{{ flower.season }}</td>
        <td>{{ flower.habitat }}</td>
        <td>
          <button class="edit-button" data-flower-id="{{ flower.id }}">Edit</button>
        </td> <!-- Add edit/delete buttons here -->
      </tr>
      {% endfor %}
    </table>
  </div>
  {% include 'addflower.html' %}
  {% include 'edit-flower.html' %}
{% endblock %}
