{% extends "master.html" %}

{% block title %}
  Garden Records
{% endblock %}

{% block content %}
  {% load static %}
  <div>
    <h1>WELCOME TO FLORIANA</h1>
    <hr>
    <div class="toolContain">
      <div>
        <p>Flower List</p>
      </div>
      <div class="add-buttonContainer">
        <button class="add-button" id="btnAdd">Add Flower</button>
      </div>
    </div>
    <div style="overflow-x: auto;">
      <table class="tableContainer">
        <tr>
          <th>Flower Name</th>
          <th>Scientific Name</th>
          <th>Season</th>
          <th>Habitat</th>
          <th>Edit/Delete</th>
        </tr>
        {% for flower in flowers %}
        <tr>
          <td>{{ flower.flower_name }}</td>
          <td>{{ flower.scientific_name }}</td>
          <td>{{ flower.season }}</td>
          <td>{{ flower.habitat }}</td>
          <td>
            <button class="edit-button" data-flower-id="{{ flower.id }}">Edit</button>
            <a class="delete-button" href="{% url 'delete_flower' flower.id %}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    
  </div>
  {% include 'addflower.html' %}
  {% include 'edit-flower.html' %}
{% endblock %}
